.image {
  filter: grayscale(100%);
  transition: filter 0.25s;
}
.image:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 900px) {
  .image {
    filter: unset;
  }
  .image:hover {
    filter: unset;
  }
}
