.heroIcon {
  font-size: 38px;
}
.hero_image {
  /* width: 100%; */
  animation: 3s anim-image ease-out infinite;
  height: 100%;
  z-index: 900;
}
.heroText {
  margin-top: -20%;
  width: 600px;
  /* transition: opacity 2s ease-in; */
  animation: 3s anim-lineUp ease-out infinite;
  z-index: 950;
}
.heroSentence {
  font-size: 36px !important;
}

@media screen and (max-width: 1200px) {
  .heroText {
    margin-top: -100px;
    width: 500px;
  }
  .hero_image {
    height: 500px;
  }
  .heroSentence {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 1100px) {
  .hero_image {
    height: 400px;
  }
  .heroText {
    width: 500px;
  }
  .heroSentence {
    font-size: 28px !important;
  }
}
@media screen and (max-width: 1000px) {
  .heroText {
    width: 450px;
  }
}

@media screen and (max-width: 900px) {
  .heroIcon {
    font-size: 26px;
  }
  .heroText {
    margin-top: -70px;
    width: 400px;
  }
  .hero_image {
    height: 350px;
  }
  .heroSentence {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 750px) {
  .text {
    font-size: 20px;
  }
  .heroText {
    margin-top: -70px;
    width: 330px;
  }
  .hero_image {
    height: 300px;
  }
  .heroSentence {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 700px) {
  .text {
    font-size: 20px;
  }
  .heroText {
    margin-top: -80px;
    width: 300px;
  }
  .hero_image {
    height: 250px;
  }
  .heroSentence {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 600px) {
  .heroIcon {
    font-size: 20px;
  }
  .heroText {
    margin-top: -70px;
    width: 48vw;
  }
  .hero_image {
    height: 230px;
  }
  .heroSentence {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 500px) {
  .heroText {
    margin-top: -50px;
    width: 55vw;
  }
  .hero_image {
    height: 200px;
  }
  .heroSentence {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 499px) {
  .heroText {
    margin-top: -70px;
    width: 55vw;
  }
  .hero_image {
    height: 150px;
  }
  .heroSentence {
    font-size: 14px !important;
  }
}

@keyframes anim-image {
  0% {
    transform: scale(1);
  }
  /* 25% {
    transform: scale(0.95);
  } */
  50% {
    transform: scale(0.9);
  }
  /* 75% {
    transform: scale(0.95);
  } */

  100% {
    transform: scale(1);
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  20% {
    opacity: 0;
    transform: translateY(20%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}

/* @keyframes anim-lineUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */
